.Board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-left: 11.97%;
  margin-right: 11.97%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.rank {
  /* border: 1px solid #ccc; */
  padding: 10px;
}

.rank h3 {
  text-align: center;
}

.rank > div {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  align-items: center;
}

.rank > div > div:last-child {
  margin-right: 0;
}

.player-score-container {
  grid-column: 1 / -1;
}

.player-score {
  margin: 20px 0;
  grid-column: 1 / -1;
}
