.Board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-left: 11.97%;
  margin-right: 11.97%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.p1-siege-rank,
.p1-range-rank,
.p1-melee-rank,
.p2-melee-rank,
.p2-range-rank,
.p2-siege-rank {
  border: 1px solid #ccc;
  padding: 10px;
}

.p1-melee-score {
  margin-top: 0;
}

.player-score-container {
  grid-column: 1 / -1;
}

.player-score {
  margin: 20px 0;
  grid-column: 1 / -1;
}
